<div class="container">
  <div id='messages' data-room_id="<%= @room.id %>">
    <h1>Chat room<%= @room.room_name %></h1>
    <table>
      <% @messages.each do |message| %>
        <%= render partial: "admin/messages/message", locals: { message: message, room: @room, current_customer: nil } %>
      <% end %>
    </table>
  </div>
  <div style="height:100px;"></div>
</div>