<h1 class="text-center">お気に入り一覧</h1>
<div class="row">
  <% @communities.each do |clip| %>
    <div class="col-md-3">
      <div class="card">
        <%#= image_tag clip.image, class: 'card-img-top' %>
        <%= link_to clip.community_name, clip %>
        <%#= clip.description %>
      </div>
    </div>
  <% end %>
</div>